data
.git/objects/07/e79b71e271c8cf14655d9b83d5570f07223411
*.pyc 
__pycache__/test/weights/vx3d_miranda_unet_no_penalty_orig.pth
test_bak/weights/vx3d_miranda_unet_no_penalty_orig.pth
test_bak/weights/vx3d_miranda_unet_no_penalty.pth
test/weights/vx3d_miranda_unet_no_penalty.pth
*[0-9]*.pth
